/* Resets */
*, *::before, *::after { 
    box-sizing: border-box;
  }
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


/* Colour variables */
:root {
    --primary-colour:#F8464A;
    --colour-white:#fff;
    --secondary-colour:#F4F5F7;
    --colour-black:#000000;
}

/* Typography */
.container-body {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: var(--colour-white);
}

header > h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px;
}

header > p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 43px;
}


/* Layout */
.container-body {
    display: flex;
    flex-direction: column;
}

.container-header {
    background-image: url(../assets/985cabb6920eaaeecfea44bd6b5ef5d8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 601px;
}

@media (min-width:600px){
    .container-header {
        height:647px
    }
}

@media (min-width:1100px){
    .container-header {
        height:754px
    }
}

/* Interactive elements */
.searchfield {
    background-color: white;
    height: 59.85px;
    border-radius: 8px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
}

.searchfield input {
    border: none;
}

.searchfield button {
    background-color: var(--primary-colour);
    border:none;
    border-radius: 8px;
    height: 50.01px;
    width: 90.76px;
    color: var(--colour-white)
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:35px 0 0 0;
    padding:0 1rem;
}

nav > ul > li:last-of-type{
    display:block;
    padding: 10px 20px;
    background-color: var(--primary-colour);
    border-radius:5px; 
}

@media (max-width:600px) {
    nav > ul > li {
        display: none;
    }
}

@media (min-width:600px) {
    nav ul {
        display: flex;
        list-style: none;
        justify-content: right;
    } 
}

nav > button {
    border:none;
    font-size: 1.5rem;
}

@media (min-width:600px) {
    nav > button {
        display: none;
    }
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 1rem;
}