.button{
    background: linear-gradient( 45deg, $backgroundColourTwo, $backgroundColourOne);
    color: $whiteTextColour;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}