$backgroundColour:#20d179;
$listItemColour:#268b59;
$listItemHoverColour:#266e8b;
$backgroundColourOne:#cb20d1;
$backgroundColourTwo:#209fd1;
$loginMenuBgColour:#fff;
$whiteTextColour:#ffffff;
$secondaryTextColour:#313131;
$secondaryTextColourSubtle:#585858;