.div_text-side{
    padding: 1rem;
    background-color: #2a2083;
    color: #fff;
    .falseButton {
        background-color: #3822fc;
        padding: 0.5rem 2rem;
        border-radius: 20px;
    }
}