main section div ul {
    list-style: none;
    background-color: $bg-bookCard-color;
    padding: 1rem; 
    border-radius: 15px; 
    li{
        margin: 0.5rem;
        text-wrap: wrap;
        line-height: 1.2rem;
    }
}