button {
    background-color: $bg-button-color;
    border: none;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    margin:0.1rem 0;
    &:hover{
        background-color: $bg-button-hover-color;
    }
    &:active{
        background-color: $bg-button-active-color;
        box-shadow: inset 0px 5px 10px 0 rgb(66, 66, 66);
    }
    &:disabled{
        background-color: transparent;
        color:#292929;
        border: 1px solid #292929
    }
}
