.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 100%;
    border-radius: 1rem;
    flex: 0 1 281px;
    &:nth-child(2){
        background-color: $bg-yellow;
    }
    &:nth-child(3){
        background-color: $bg-purple;
    }
    img {
        @include img-fluid;
        height: auto;
        border-radius: 1rem 1rem 0 0;
    }
    div {
        padding:20px;
        border-radius: 0;
        background-color: $bg-white;
        border-radius: 0 0 1rem 1rem;
        h2 {
            @extend %card_h;
        }
        p {
            @extend %card_p; 
        }
    }
}