// background colours
$bg-gradient-one:#E6E6E4;
$bg-gradient-two:#F0E8E2;
$bg-white:#fff;
$bg-yellow:#E38D1E;
$bg-purple:#A08DC4;

// text colour
$text-black:#1F1D2A;
$text-cream:#9B948E;
$star-yellow:#FFB988;

// Btn green/underline
$btn-bg-green:#96C67F;
$btn-bg-grey:#9499B7;
