main > section{
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        font-size: small;
        color: $secondaryTextColour;
    }
    div {
        display: flex;
        justify-content: center;
        width:100%;
        a {
            font-size: 1.5rem;
            margin: 0 5px;
            border-radius: 50%;
            color: #fff;
            background-color: #3148ac;
            width: 30px;
            height: 30px;
        }
    }
}